services:
  close-powerlifting:
    container_name: close-powerlifting
    restart: unless-stopped
    build:
      context: ./
      dockerfile: ./Dockerfile.dev
    ports:
      - "${APP_PORT}:${APP_PORT}"
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - mailpit
    networks:
      - close-powerlifting-network
    environment:
      - CHOKIDAR_USEPOLLING=true

  mailpit:
    container_name: mailpit
    restart: unless-stopped
    image: axllent/mailpit
    ports:
      - "1025:1025"
      - "8025:8025"
    networks:
      - close-powerlifting-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8025/"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  close-powerlifting-network:
    driver: bridge
