services:
  close-powerlifting:
    container_name: close-powerlifting
    restart: unless-stopped
    init: true
    build:
      context: ./
      dockerfile: ./Dockerfile.dev
    ports:
      - "${APP_PORT}:${APP_PORT}"
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      CHOKIDAR_USEPOLLING: "true"
      DOCKER_CONTAINER: "true"
    depends_on:
      - mailpit
    networks:
      - close-powerlifting-network

  mailpit:
    container_name: close-powerlifting-mailpit
    restart: unless-stopped
    image: axllent/mailpit
    ports:
      - "8025:8025"
      - "1025:1025"
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    networks:
      - close-powerlifting-network

networks:
  close-powerlifting-network:
    driver: bridge
