version: '3.9'
services:
  app:
    container_name: app
    restart: unless-stopped
    build:
      context: ./
      dockerfile: ./Dockerfile.dev
    ports:
      - '80:80'
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - mongodb
      - redis
      - mailhog
      - redis-commander
      - mongo-express
    networks:
      - close-powerlifting-network

  redis:
    image: 'redis:7.2.5'
    container_name: redis
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD} --port ${REDIS_PORT} --appendonly yes --replica-read-only no
    ports:
      - '${REDIS_PORT}:${REDIS_PORT}'
    networks:
      - close-powerlifting-network
    volumes:
      - 'redis-data:/data'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 30s
      timeout: 10s
      retries: 3

  mongodb:
    container_name: mongodb
    image: mongo:4
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: username
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: close-powerlifting
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
      - ./mongo-data:/data/db
    ports:
      - '27017:27017'
    networks:
      - close-powerlifting-network

  redis-commander:
    container_name: redis-commander
    image: rediscommander/redis-commander:latest
    restart: unless-stopped
    depends_on:
      - redis
    environment:
      - REDIS_HOSTS=redis
    ports:
      - '8081:8081'
    networks:
      - close-powerlifting-network

  mongo-express:
    container_name: mongo-express
    image: mongo-express
    restart: unless-stopped
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=false
      - ME_CONFIG_MONGODB_AUTH_DATABASE=close-powerlifting
      - ME_CONFIG_MONGODB_ADMINUSERNAME=username
      - ME_CONFIG_MONGODB_ADMINPASSWORD=password
      - VCAP_APP_PORT=8086
      # - ME_CONFIG_BASICAUTH_USERNAME=username # enable basic auth for ui
      # - ME_CONFIG_BASICAUTH_PASSWORD=password
    depends_on:
      - mongodb
    ports:
      - '8086:8086'
    networks:
      - close-powerlifting-network

  mailhog:
    container_name: mailhot
    restart: unless-stopped
    image: mailhog/mailhog
    ports:
      - 1025:1025 # smtp server
      - 8025:8025 # web ui
    networks:
      - close-powerlifting-network
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:8025/']
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  mongo-data:
    driver: local
  redis-data:
    driver: local

networks:
  close-powerlifting-network:
    driver: bridge
