services:
  app:
    container_name: app
    restart: unless-stopped
    build:
      context: ./
      dockerfile: ./Dockerfile.dev
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - mailhog
    networks:
      - close-powerlifting-network
    environment:
      - CHOKIDAR_USEPOLLING=true

  mailhog:
    container_name: mailhog
    restart: unless-stopped
    image: mailhog/mailhog
    ports:
      - "1025:1025" # smtp server
      - "8025:8025" # web ui
    networks:
      - close-powerlifting-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8025/"]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  close-powerlifting-network:
    driver: bridge
