@import "tailwindcss" important;

@source "../../src/routes/**/*.html";

@theme {
  --breakpoint-xs: 475px;
}

@layer base {
  * {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  *::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  html {
    overflow: scroll;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}
