<div class="fade-in mx-auto max-w-5xl">
  <div class="flex flex-col gap-4">
    <% if (allGood) { %>
    <div class="rounded bg-green-500/20 p-4 text-neutral-300">
      All systems operational!
    </div>
    <% } else { %>
    <div class="rounded bg-yellow-500/20 p-4 text-neutral-300">
      Some systems are not functional!
    </div>
    <% } %>

    <% apiStatuses.forEach(function(item) { %>
    <div class="flex flex-col gap-2 rounded bg-neutral-900 p-4">
      <div class="flex gap-4 text-neutral-400">
        <div class="font-bold"><%= item.method %></div>
        <div class="overflow-scroll rounded bg-neutral-700 px-2 font-light"><%= item.url %></div>
      </div>
      <div class="flex gap-1">
        <% if (item.status) { %>
        <span class="text-green-400">Available</span>
        <% } else { %>
        <span class="text-red-400">Unavailable</span>
        <% } %>
        <div class="text-neutral-500">as of</div>
        <div class="text-neutral-400"><%= item.date %></div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
