<div>
  <div class="xxl:min-h-[172px] hidden h-full sm:block lg:min-h-[50px]"></div>

  <!-- logo and content -->
  <div class="relative my-auto text-center">
    <div class="fade-in-heading animation-delay-1 text-9xl">🏋🏻</div>

    <h1
      class="fade-in-heading mt-7 text-4xl font-extrabold tracking-tight text-slate-900 dark:text-white sm:text-5xl lg:text-6xl"
    >
      Close Powerlifting
    </h1>

    <p
      class="fade-in-heading animation-delay-2 mx-auto mt-3 max-w-3xl text-center text-lg text-neutral-600 dark:text-neutral-400"
    >
      An intuitive api for open-powerlifting database.
    </p>

    <div class="fade-in-heading animation-delay-3 mt-6 flex justify-center gap-3">
      <a
        class="rounded-sm bg-slate-50 px-3 py-2 font-normal text-black outline outline-slate-50 hover:bg-black hover:text-slate-50 hover:outline hover:outline-slate-50"
        href="/register"
        >Register</a
      >

      <a
        class="rounded-sm px-3 py-2 text-slate-50 outline outline-slate-50 hover:bg-slate-50 hover:text-black"
        href="/about"
        >Learn more</a
      >
    </div>

    <!-- rankings -->
    <%- include('../components/rankings-table.html', rankings) %>
  </div>
</div>
