<div class="flex flex-col justify-center items-center h-[calc(100vh-172px)]">
  <div class="text-center">
    <div class="text-9xl">🏋🏻</div>

    <h1
      class="mt-7 text-slate-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight dark:text-white"
    >
      Close Powerlifting
    </h1>

    <p class="mt-3 text-lg text-neutral-600 text-center max-w-3xl mx-auto dark:text-neutral-400">
      An intuitive api for open-powerlifting database.
    </p>

    <div class="mt-6 flex gap-3 justify-center">
      <a
        class="font-normal bg-slate-50 text-black hover:bg-black hover:outline outline outline-slate-50 hover:outline-slate-50 hover:text-slate-50 px-3 py-2 rounded-sm"
        href="/register"
        >Register</a
      >

      <a
        class="hover:text-black hover:bg-slate-50 outline outline-slate-50 text-slate-50 px-3 py-2 rounded-sm"
        href="/about"
        >Learn more</a
      >
    </div>

    <!-- rankings -->
    <div class="mt-7 max-w-5xl mx-auto overflow-scroll">
      <%- include('../components/rankings-table.html', rankings) %>
    </div>
  </div>
</div>
