<div class="flex flex-col gap-4 max-w-sm mx-auto">
  <!-- flash -->
  <%- include('../components/flash-message.html') %>

  <!-- form -->
  <form action="/register" method="post" class="flex flex-col gap-4 bg-neutral-900 p-7 rounded-md">
    <!-- name -->
    <div class="flex flex-col gap-1 bg-gree">
      <label for="name">Name</label>
      <input
        class="rounded-sm p-1 bg-neutral-700 text-neutral-100"
        type="text"
        name="name"
        id="name"
        required
      />
    </div>

    <!-- email -->
    <div class="flex flex-col gap-1">
      <label for="email">Email</label>
      <input
        class="rounded-sm p-1 bg-neutral-700 text-neutral-100"
        type="email"
        name="email"
        id="email"
        required
      />
    </div>

    <!-- i agree  -->
    <div class="flex flex-col gap-1">
      <!-- checkbox -->
      <div class="flex gap-2">
        <input
          class="rounded-sm bg-neutral-700 text-neutral-100"
          type="checkbox"
          name="agree"
          id="agree"
          required
        />
        <label for="agree">I agree</label>
      </div>

      <!-- agree text -->
      <p class="text-sm">
        Registering signifies that you have read and agree to the
        <a class="text-neutral-200 hover:underline" href="/terms">Terms of Service</a> and our
        <a class="text-neutral-200 hover:underline" href="/privacy"> Privacy Policy</a>.
      </p>
    </div>

    <!-- button -->
    <div class="flex flex-col gap-1">
      <button
        type="submit"
        class="bg-slate-50 text-black hover:bg-black hover:outline hover:outline-slate-50 hover:text-slate-50 px-2 py-1 rounded-sm"
      >
        Submit
      </button>
    </div>
  </form>

  <small class="text-center">____ or ____</small>

  <!-- button -->
  <div class="flex flex-col gap-4 bg-neutral-900 p-7 rounded-md">
    <a
      class="bg-slate-50 text-center text-black hover:bg-black hover:outline hover:outline-slate-50 hover:text-slate-50 px-2 py-1 rounded-sm"
      href="/reset-api-key"
    >
      Reset api key
    </a>
  </div>
</div>
