<header class="flex justify-between bg-gray-900 p-5">
  <div>
    <h1>
      <a href="/"> close-powerlifting </a>
    </h1>
  </div>

  <nav>
    <ul class="flex gap-3">
      <!-- home -->
      <li>
        <a href="/">home</a>
      </li>

      <!-- api -->
      <li>
        <a href="/docs/api">api-docs</a>
      </li>

      <!-- privacy -->
      <li>
        <a href="/privacy">privacy</a>
      </li>

      <!-- terms -->
      <li>
        <a href="/terms">terms</a>
      </li>

      <!-- contact -->
      <li>
        <a href="/contact">contact</a>
      </li>
    </ul>
  </nav>
</header>
