<nav class="hidden sm:block">
  <ul class="flex items-center gap-6">
    <!-- about -->
    <li>
      <a
        class="<%= typeof path !== 'undefined' && path === '/about' ? 'text-white' : 'text-neutral-400' %> transition-colors hover:text-white"
        href="/about"
        >About</a
      >
    </li>

    <!-- status -->
    <li>
      <a
        class="<%= typeof path !== 'undefined' && path === '/status' ? 'text-white' : 'text-neutral-400' %> transition-colors hover:text-white"
        href="/status"
        >Status</a
      >
    </li>


    <!-- docs -->
    <li>
      <a class="text-neutral-400 transition-colors hover:text-white" href="/docs/api" target="_blank">Docs</a>
    </li>


    <!-- register -->
    <li>
      <a
        class="rounded-md bg-power px-4 py-2 font-medium text-white transition-all hover:bg-power-dark"
        href="/register"
        >Get API Key</a
      >
    </li>
  </ul>
</nav>
