<div class="relative flex sm:hidden">
  <input type="checkbox" id="mobile-menu-toggle" class="peer hidden" />

  <!-- open button -->
  <label for="mobile-menu-toggle" class="cursor-pointer p-2">
    <svg class="h-6 w-6 peer-checked:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </label>

  <!-- nav overlay -->
  <div class="fixed inset-0 z-[100] hidden h-screen w-screen bg-black peer-checked:block">
    <!-- header with close button -->
    <div class="flex w-full items-center justify-between p-5">
      <h1 class="text-2xl font-extrabold text-white hover:text-neutral-300">
        <a href="/">Close Powerlifting</a>
      </h1>

      <label for="mobile-menu-toggle" class="cursor-pointer p-2">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </label>
    </div>

    <nav class="mx-5 rounded-lg border border-neutral-800 bg-neutral-900 px-3 py-8">
      <ul class="flex flex-col gap-5 text-center">
        <!-- about -->
        <li>
          <a
            class="<%= typeof path !== 'undefined' && path === '/about' ? 'text-white' : 'text-neutral-400' %> hover:text-white"
            href="/about"
            >About</a
          >
        </li>
        <!-- status -->
        <li>
          <a
            class="<%= typeof path !== 'undefined' && path === '/status' ? 'text-white' : 'text-neutral-400' %> hover:text-white"
            href="/status"
            >Status</a
          >
        </li>
        <!-- docs -->
        <li>
          <a class="text-neutral-400 hover:text-white" href="/docs/api" target="_blank">Docs</a>
        </li>
        <!-- login/dashboard -->
        <li class="pt-2">
          <% if (state && state.user && state.user.key) { %>
          <a
            class="rounded-md bg-power px-4 py-2 font-medium text-white transition-all hover:bg-power-dark"
            href="/dashboard"
            >Dashboard</a
          >
          <% } else { %>
          <a
            class="rounded-md bg-power px-4 py-2 font-medium text-white transition-all hover:bg-power-dark"
            href="/login"
            >Get API Key</a
          >
          <% } %>
        </li>
      </ul>
    </nav>
  </div>
</div>
