<div class="relative flex sm:hidden">
  <input type="checkbox" id="mobile-menu-toggle" class="peer hidden" />

  <!-- open button -->
  <label for="mobile-menu-toggle" class="cursor-pointer p-2">
    <svg class="h-6 w-6 peer-checked:hidden" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </label>

  <!-- nav overlay -->
  <div class="fixed inset-0 z-[100] hidden h-screen w-screen bg-black peer-checked:block">
    <!-- header with close button -->
    <div class="flex w-full items-center justify-between p-5">
      <h1 class="text-2xl font-extrabold text-slate-50 hover:text-neutral-300">
        <a href="/">Close Powerlifting</a>
      </h1>

      <label for="mobile-menu-toggle" class="cursor-pointer p-2">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </label>
    </div>

    <nav class="mx-5 rounded bg-neutral-900 px-3 py-10">
      <ul class="flex flex-col gap-5 text-center">
        <li>
          <a class="hover:text-slate-50" href="/docs/api" target="_blank">Docs</a>
        </li>
        <li>
          <a
            class="<%= typeof path !== 'undefined' && path === '/about' ? 'text-slate-50' : '' %> hover:text-slate-50"
            href="/about"
            >About</a
          >
        </li>
        <li>
          <a
            class="<%= typeof path !== 'undefined' && path === '/status' ? 'text-slate-50' : '' %> hover:text-slate-50"
            href="/status"
            >Status</a
          >
        </li>
        <li>
          <a
            class="<%= typeof path !== 'undefined' && path === '/contact' ? 'text-slate-50' : '' %> hover:text-slate-50"
            href="/contact"
            >Contact</a
          >
        </li>
        <li>
          <a
            class="rounded-md bg-slate-50 px-4 py-2 font-medium text-black hover:bg-black hover:text-slate-50 hover:outline hover:outline-slate-50"
            href="/register"
            >Get API Key</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
