<nav class="hidden sm:block">
  <ul class="flex gap-5">
    <!-- docs -->
    <li>
      <a class="hover:text-slate-50" href="/docs/api" target="_blank">Docs ↗️</a>
    </li>

    <!-- status -->
    <li>
      <a
        class="<%= typeof path !== 'undefined' && path === '/status' ? 'text-slate-50' : '' %> hover:text-slate-50"
        href="/status"
        >Status</a
      >
    </li>

    <!-- about -->
    <li>
      <a
        class="<%= typeof path !== 'undefined' && path === '/about' ? 'text-slate-50' : '' %> hover:text-slate-50"
        href="/about"
        >About</a
      >
    </li>

    <!-- contact -->
    <li>
      <a
        class="<%= typeof path !== 'undefined' && path === '/contact' ? 'text-slate-50' : '' %> hover:text-slate-50"
        href="/contact"
        >Contact</a
      >
    </li>

    <!-- register -->
    <li>
      <a
        class="rounded-sm bg-slate-50 px-3 py-2 font-normal text-black hover:bg-black hover:text-slate-50 hover:outline hover:outline-slate-50"
        href="/register"
        >Register</a
      >
    </li>
  </ul>
</nav>
