<footer class="bg-neutral-900 p-5 font-light text-sm">
  <div
    class="max-w-7xl flex max-xs:flex-col-reverse max-xs:items-center max-xs:gap-3 xs:flex-col-reverse xs:items-center xs:gap-3 sm:flex-row sm:justify-between mx-auto"
  >
    <span>
      Copyright © 2022. Made with ❤️ by
      <a class="hover:text-slate-50" href="https://github.com/wajeht" target="_blank">@wajeht ↗️</a>
    </span>

    <nav class="font-light text-xs sm:text-sm">
      <ul class="flex gap-5">
        <!-- privacy -->
        <li>
          <a
            class="hover:text-slate-50 <%= typeof path !== 'undefined' && path === '/privacy' ? 'text-slate-50' : '' %>"
            href="/privacy"
            >Privacy</a
          >
        </li>

        <!-- terms -->
        <li>
          <a
            class="hover:text-slate-50 <%= typeof path !== 'undefined' && path === '/terms' ? 'text-slate-50' : '' %>"
            href="/terms"
            >Terms</a
          >
        </li>

        <!-- github -->
        <li>
          <a
            class="hover:text-slate-50"
            href="https://github.com/wajeht/close-powerlifting"
            target="_blank"
            >Github ↗️</a
          >
        </li>

        <!-- discord -->
        <li>
          <a
            class="hover:text-slate-50"
            href="https://discord.com/channels/988167900420534273/989628732895543296"
            target="_blank"
            >Discord ↗️</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
