<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="an intuitive api for open-powerlifting database " />
  <meta name="keywords" content="Powerlifting, squat, bench, deadlift, open-powerlifting" />
  <meta name="author" content="wajeht" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <title>Close Powerlifting</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
