<header class="backdrop-blur-sm bg-black/30 p-5 sticky top-0">
  <div class="max-w-7xl flex justify-between mx-auto">
    <div>
      <h1 class="text-slate-50">
        <a href="/"> Close Powerlifting </a>
      </h1>
    </div>

    <nav>
      <ul class="flex gap-5">
        <!-- about -->
        <li>
          <a
            class="hover:text-slate-50 <%= typeof path !== 'undefined' && path === '/about' ? 'text-slate-50' : '' %>"
            href="/about"
            >About</a
          >
        </li>

        <!-- contact -->
        <li>
          <a
            class="hover:text-slate-50 <%= typeof path !== 'undefined' && path === '/contact' ? 'text-slate-50' : '' %>"
            href="/contact"
            >Contact</a
          >
        </li>

        <!-- documentation -->
        <li>
          <a class="hover:text-slate-50" href="/docs/api" target="_blank">API Docs</a>
        </li>

        <!-- register -->
        <li>
          <a
            class="font-normal bg-slate-50 text-black hover:bg-black hover:outline hover:outline-slate-50 hover:text-slate-50 px-3 py-2 rounded-sm"
            href="/register"
            >Register</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
