<header class="backdrop-blur-sm bg-black/30 p-5 sticky top-0">
  <div
    class="max-w-7xl flex max-xs:flex-col max-xs:items-center max-xs:gap-4 xs:flex-col xs:items-center xs:gap-4 sm:flex-row justify-between mx-auto"
  >
    <div>
      <h1 class="text-slate-50 hover:text-neutral-300 font-extrabold text-2xl">
        <a href="/"> Close Powerlifting </a>
      </h1>
    </div>

    <nav>
      <ul class="flex gap-5">
        <!-- docs -->
        <li>
          <a class="hover:text-slate-50" href="/docs/api" target="_blank">Docs</a>
        </li>

        <!-- status -->
        <li>
          <a
            class="hover:text-slate-50 <%= typeof path !== 'undefined' && path === '/status' ? 'text-slate-50' : '' %>"
            href="/status"
            >Status</a
          >
        </li>

        <!-- about -->
        <li>
          <a
            class="hover:text-slate-50 <%= typeof path !== 'undefined' && path === '/about' ? 'text-slate-50' : '' %>"
            href="/about"
            >About</a
          >
        </li>

        <!-- contact -->
        <li>
          <a
            class="hover:text-slate-50 <%= typeof path !== 'undefined' && path === '/contact' ? 'text-slate-50' : '' %>"
            href="/contact"
            >Contact</a
          >
        </li>

        <!-- register -->
        <li>
          <a
            class="font-normal bg-slate-50 text-black hover:bg-black hover:outline hover:outline-slate-50 hover:text-slate-50 px-3 py-2 rounded-sm"
            href="/register"
            >Register</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
