<!-- form -->
<form id="register-form">
  <label for="email">email</label>
  <input type="email" id="email" required />
  <button type="submit">register</button>
</form>

<script>
  // @ts-ignore
  document.addEventListener('DOMContentLoaded', function () {
    // @ts-ignore
    document.getElementById('register-form').addEventListener('submit', async function (event) {
      event.preventDefault();

      // @ts-ignore
      const formData = { email: document.getElementById('email').value };

      const res = await fetch('/api/auth/register', {
        method: 'POST',
        body: JSON.stringify(formData),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        },
      });

      const data = await res.json();

      if (data.errors) {
        return alert(data.message);
      }

      if (res.ok) {
        return alert(data.message);
      }
    });
  });
</script>
