name: CI

on:
  push:
    branches: [main]
  pull_request:

env:
  APP_PORT: 80
  APP_ENV: "testing"
  APP_DOMAIN: "localhost"
  APP_PASSWORD_SALT: 10
  APP_JWT_SECRET: "test-jwt-secret"
  APP_ADMIN_EMAIL: "test@gmail.com"
  API_CALL_LOG_RETENTION_DAYS: 90

  SESSION_SECRET: "test-session-secret"
  SESSION_NAME: "close-powerlifting"
  SESSION_DOMAIN: "localhost"

  GOOGLE_CLIENT_ID: ""
  GOOGLE_CLIENT_SECRET: ""
  GOOGLE_OAUTH_REDIRECT_URL: "http://localhost/oauth/google/redirect"

  OPENPOWERLIFTING_URL: "https://www.openpowerlifting.org"
  APP_API_KEY: ""

  EMAIL_HOST: "localhost"
  EMAIL_PORT: 1025
  EMAIL_SECURE: "false"
  EMAIL_USER: ""
  EMAIL_PASSWORD: ""
  EMAIL_FROM: "noreply@close-powerlifting.local"

jobs:
  format:
    name: Oxfmt format
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Format codes
        run: npm run format:check

  lint:
    name: Oxlint
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Lint codes
        run: npm run lint:check

  test:
    name: Unit tests
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    services:
      mailhog:
        image: mailhog/mailhog:latest
        ports:
          - 1025:1025
          - 8025:8025

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Test codes
        run: npm run test:ci

  deploy:
    needs: [format, test, lint]
    name: Deploy to production
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    environment:
      name: production
      url: https://close-powerlifting.jaw.dev/

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Preset Image Name
        run: echo "IMAGE_URL=$(echo ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}:$(echo ${{ github.sha }} | cut -c1-7) | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Build and push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.IMAGE_URL }}

      - name: Deploy Image to Production
        uses: caprover/deploy-from-github@v1.1.2
        with:
          server: "${{ secrets.CAPROVER_SERVER }}"
          app: "${{ secrets.APP_NAME }}"
          token: "${{ secrets.APP_TOKEN }}"
          image: ${{ env.IMAGE_URL }}
